@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Contrail+One&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-container {
  width: 100%;
  height: 522px;
  margin-top: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-box {
  width: 522px;
  height: 522px;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 174px 174px 174px;
  grid-auto-rows: 174px;
}

@media only screen and (max-width: 800px) {
  .image-main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image-container {
    width: 261px;
    height: 261px;
  }
}

@media only screen and (max-width: 800px) {
  .image-box {
    width: 261px;
    height: 261px;
    grid-template-columns: 87px 87px 87px;
    grid-auto-rows: 87px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  color: #ff0000;
  margin-top: 15px;
}

.image-item,
.image {
  width: 174px;
  height: 174px;
}

@media only screen and (max-width: 800px) {
  .image-item,
  .image {
    width: 87px;
    height: 87px;
    background-size: cover !important;
  }
}

.image-item {
  position: relative;
  background-size: cover;
}

.stats {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;

  font-size: 12px;

  p {
    text-shadow: 1px 1px 0px rgb(38, 39, 39);
    font-family: "Heebo", sans-serif;
  }

  .plays,
  .album {
    font-size: 14px;
  }
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.download-button {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #fa163f;
  color: white;
  outline: none;
  margin-top: 15px;

  &:hover {
    cursor: pointer;
    background-color: #df0d34;
  }
}

.stats-container {
  z-index: 99;
  position: absolute;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;

  input {
    margin-bottom: 35px;
    height: 30px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    outline: none;
  }

  .submit-button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: #fa163f;
    color: white;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: #df0d34;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #252525;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: #fa163f;
    font-family: "Contrail One", cursive;
    font-size: 50px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .main-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      margin: 0;
      margin-left: 5px;
      width: 150px;
      margin-bottom: 10px;
    }
  }

  .download-button {
    width: 150px;
  }

  header {
    width: 100%;
    height: 220px;
    grid-row: 1/-1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;

    .logo-box {
      margin-right: 10px;
    }
  }

  .title {
    font-size: 30px !important;
  }

  .stats {
    font-size: 8px !important;
  }
  .plays,
  .album {
    font-size: 8px !important;
  }
}

@media only screen and (max-width: 800px) {
  .submit-button {
    width: 150px !important;
  }
}
